body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Сделать бургер меню */

.header {
  background-image: linear-gradient(to right bottom, #45446c, #44437d, #43418e, #423e9f, #423aaf);
}

.header__block {
  width: 80%;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 2%;
}

.header__logo {
  padding-top: 1%;
  color: #7d83a4;
  text-decoration: none;
  font-size:25px;
  color: white;
}

.header__nav {
  width: 35%;
  padding-top: 1%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin:0 auto;
  margin-left: 50%;

}

.nav__item {
  font-size: 20px;
  margin-left:10%;

}

.nav__item a {
  color: white;
  text-decoration: none;
}

.header__container {
  padding-bottom: 9%;
}

.header__motto {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  font-size:25px;
  color: white;
  font-weight: 600;
}

.header__link {
  margin-left: 41% ;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 3%;
}

.button {
  text-decoration: none;
  background-color: #ffd22d;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  -webkit-box-shadow: 10px 14px 23px -3px rgba(0,0,0,0.7);
  -moz-box-shadow: 10px 14px 23px -3px rgba(0,0,0,0.7);
  box-shadow: 10px 14px 23px -3px rgba(0,0,0,0.7);
}

.main__headline {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 4%;
  font-size: 50px;
  text-transform: uppercase;
}

.student__for,
.emp__for {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.student__block,
.emp__block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  padding-bottom: 7%;
}


.student__text--begin {
  padding-top: 10%;
}

.student__text,
.emp__text {
  padding-bottom: 7%;
  text-align: center;
  font-size: 23px;
  padding-top: 0%;
}

.student__text {
  padding-top: 3%;
}

.student__img {
  width: 100%;
  height: auto;
}

.emp__button {
    margin-left: 34%;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 20px;
    margin-top: 5%;
  }
}



.emp-text__container {
  width: 50%;
}

.student__image,
.life__image,
.emp__img,
.form__img
 {
  width:100%;
  height: auto;
}

.emp__img {
  margin-right: 3%;
  margin-top: 20%;
  width: 100%;
  height: auto;
}

.student__image {
  margin-top: -15%;
}


.student__text--end {
  padding-bottom: 13%;
}


.student__advantages {
  padding-bottom: 20%;
}

.student-advantages__container,
.emp-advantages__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.student__button {
  text-decoration: none;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  border-radius: 3%;
  margin-left: 30%;
}

.emp-advantages__container {
  padding-top: 4%;
}


.advantages__block {
  outline: 1px solid black;
}


.life__wrapper {
  width: 50%;
}

.life__container {
  background-color: #45446c;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.life-container__img {
  margin-top: -10%;
  margin-left: 2%;
}

.life__headline {
  padding-top: 7%;
  color: white;
  padding-left: 15%;
  font-size:45px;
  padding-bottom: 5%;
  text-align: center;
}

.life__button {
  text-decoration: none;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 3%;
  margin-left: 44%;
}

.life__img {
  width: 100%;
  height: auto;
}

.emp__for {
  padding-top:5%;
}


.advantages__block {
  width: 30%;
}

.advantages__image {
  padding-left: 35%;
}

.advantages__text {
  text-align: center;
  font-size: 18px;
}

.advantages__item {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-transform: uppercase;
  font-size:25px;
  font-weight: 600;
  color: #45446c;
}

.form__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  padding-top: 8%;
  padding-bottom: 5%;
}

.form__wrapper {
  width: 25%;
}

.form__name,
.form__email,
.form__textarea {
  width: 80%;

}

.form__name,
.form__email,
.form__textarea {
  padding: 5%;
  font-size: 16px;
}

.form {
  width: 80%;
  margin-left: 5%;
}

.form__text {
  margin-bottom: 3%;
  font-size: 20px;
}

.form__input {
  background-color: #ffd22d;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 3%;
  margin-left: 24%;
  margin-top: 10%;
  box-shadow: 10px 14px 23px -3px rgba(0,0,0,0.7);
  font-weight: 600;
}


.footer {
  background-color: #45446c;
}

.footer__container {
  width: 80%;
  margin: 0 auto;
  padding:1% 0%;
}

.footer__copyright {
  text-align: center;
  color: white;
  font-size: 18px;
}

@media (max-width: 991.98px) {
  .header__logo {
    font-size:23px;
  }

  .nav__item {
    font-size:18px;
  }

  .header__link {
    margin-left: 39%;
  }

  .header__motto {
    padding-left: 18%;
    padding-right: 18%;
    font-size:24px;
  }

  .main__headline {
    font-size: 38px;
  }

  .student__text {
    font-size:22px;
  }

  .student__button {
    margin-left: 24%;
  }

  .advantages__item {
    font-size:20px;
  }

  .advantages__text {
    font-size:17px;
  }

  .life__header {
    font-size:34px;
  }

  .life__button {
    margin-left: 36%;
  }

  .emp__text {
    font-size:22px;
  }

  .emp__button {
    margin-left: 29%;
    padding-left: 3%;
    padding-right: 3%;
  }


}

@media (max-width: 575.98px) { ... }

@media (max-width: 767.98px) { ... }
