body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Сделать бургер меню */

.header {
  background-image: linear-gradient(to right top, #45446c, #444374, #42417d, #404085, #3e3e8d);
}

.header__block {
  width: 80%;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 2%;
}

.header__logo {
  padding-top: 1%;
  color: #7d83a4;
  text-decoration: none;
  font-size:25px;
  color: white;
}

.header__nav {
  width: 35%;
  padding-top: 1%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin:0 auto;
  margin-left: 50%;

}

.nav__item {
  font-size: 20px;
  margin-left:10%;

}

.nav__item a {
  color: white;
  text-decoration: none;
}

.header__container {
  padding-bottom: 9%;
}

.header__motto {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
  font-size:25px;
  color: white;
  font-weight: 600;
}

.header__link {
  margin-left: 41% ;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-radius: 3%;
}

.button {
  text-decoration: none;
  background-color: #ffd22d;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  box-shadow: 0 8px 0 0 #f1a32f;
}

.main__headline {
  text-align: center;
  padding-bottom: 4%;
  padding-top: 4%;
  font-size: 50px;
  text-transform: uppercase;
}

.student__for,
.emp__for {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

.student__block,
.emp__block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  padding-bottom: 7%;
}


.student__text--begin {
  padding-top: 10%;
}

.student__text,
.emp__text {
  padding-bottom: 7%;
  text-align: center;
  font-size: 23px;
  padding-top: 0%;
}

.student__text {
  padding-top: 3%;
}

.student__img {
  width: 100%;
  height: auto;
}

.emp__button {
    margin-left: 34%;
    text-decoration: none;
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: 20px;
    margin-top: 5%;
  }
}



.emp-text__container {
  width: 50%;
}

.student__image,
.life__image,
.emp__img,
.form__img
 {
  width:100%;
  height: auto;
}

.emp__img {
  margin-right: 3%;
  margin-top: 20%;
  width: 100%;
  height: auto;
}

.student__image {
  margin-top: -15%;
}


.student__text--end {
  padding-bottom: 13%;
}


.student__advantages {
  padding-bottom: 20%;
}

.student-advantages__container,
.emp-advantages__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
}

.student__button {
  text-decoration: none;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  border-radius: 3%;
  margin-left: 30%;
}

.emp-advantages__container {
  padding-top: 4%;
}


.advantages__block {
  outline: 1px solid black;
}


.life__wrapper {
  width: 50%;
}

.life__container {
  background-color: #45446c;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.life-container__img {
  margin-top: -10%;
  margin-left: 2%;
}

.life__headline {
  padding-top: 7%;
  color: white;
  padding-left: 15%;
  font-size:45px;
  padding-bottom: 5%;
  text-align: center;
}

.life__button {
  text-decoration: none;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  border-radius: 3%;
  margin-left: 44%;
}

.life__img {
  width: 100%;
  height: auto;
}

.emp__for {
  padding-top:5%;
}


.advantages__block {
  width: 30%;
}

.advantages__image {
  padding-left: 35%;
}

.advantages__text {
  text-align: center;
  font-size: 18px;
}

.advantages__item {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  text-transform: uppercase;
  font-size:25px;
  font-weight: 600;
  color: #45446c;
}

.form__container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  padding-top: 8%;
  padding-bottom: 5%;
}

.form__wrapper {
  width: 25%;
}

.form__name,
.form__email,
.form__textarea {
  width: 80%;

}

.form__name,
.form__email,
.form__textarea {
  padding: 5%;
  font-size: 16px;
}

.form {
  width: 80%;
  margin-left: 5%;
}

.form__text {
  margin-bottom: 3%;
  font-size: 20px;
}

.form__input {
  background-color: #ffd22d;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  padding-left: 6%;
  padding-right: 6%;
  padding-top: 4%;
  padding-bottom: 4%;
  border-radius: 3%;
  margin-left: 24%;
  margin-top: 10%;
  box-shadow: 0 8px 0 0 #f1a32f;
  font-weight: 600;
}


.footer {
  background-color: #45446c;
}

.footer__container {
  width: 80%;
  margin: 0 auto;
  padding:1% 0%;
}

.footer__copyright {
  text-align: center;
  color: white;
  font-size: 18px;
}

@media (max-width: 991.98px) {
  .header__logo {
    font-size:23px;
  }

  .header__nav {
    margin-left: 42%;
  }

  .nav__item {
    font-size:18px;
  }

  .header__link {
    margin-left: 39%;
  }

  .header__motto {
    padding-left: 18%;
    padding-right: 18%;
    font-size:24px;
  }

  .main__headline {
    font-size: 35px;
  }

  .student__img {
    width: 80%;
    padding-left: 5%;
    padding-top: 5%;
  }

  .student__text {
    font-size:22px;
  }

  .student__button {
    margin-left: 27%;
    font-size: 16px;
  }

  .advantages__item {
    font-size:20px;
  }

  .advantages__text {
    font-size:17px;
  }

  .life__wrapper {
    width: 65%;
  }

  .life__headline {
    font-size:26px;
  }

  .life__button {
    margin-left: 40%;
    font-size: 16px;
  }

  .life__img {
    width: 80%;
    margin-left: 15%;
  }

  .emp-text__container {
    width: 50%;
    margin-left: 5%;
  }

  .emp__text {
    font-size:22px;
  }

  .emp__button {
    margin-left: 29%;
    padding-left: 3%;
    padding-right: 3%;
    font-size:16px;
  }

  .emp__img {
    width: 80%;
    margin-left: 10%;
  }

  .advantages__image {
    padding-left: 33%;
    width: 41%;
  }

  .form__text {
    font-size: 16px;
  }

  .form__input {
    font-size: 16px;
  }

  .form__img {
    width: 80%;
    margin-left: 10%;
  }

}

@media (max-width: 767.98px) {

  .header__logo {
    font-size:20px;
  }

  .header__nav {
    margin-left: 35%;
  }

  .nav__item {
    font-size:17px;
  }

  .header__link {
    margin-left: 37%;
    font-size: 15px;
  }

  .header__motto {
    padding-left: 18%;
    padding-right: 18%;
    font-size:20px;
  }

  .main__headline {
    font-size: 30px;
  }

  .student__img {
    width: 80%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .student__text {
    font-size:18px;
    margin-right: 5%;
  }

  .student__button {
    margin-left: 22%;
    font-size: 14px;
  }

  .advantages__image {
    width: 47%;
  }

  .advantages__item {
    font-size:18px;
  }

  .advantages__text {
    font-size:15px;
  }

  .life__wrapper {
    width: 65%;
  }

  .life__headline {
    font-size:21px;
  }

  .life__button {
    margin-left: 38%;
    font-size: 13px;
  }

  .life__img {
    width: 80%;
    margin-left: 15%;
  }

  .emp__text {
    font-size:18px;
  }

  .emp__button {
    margin-left: 31%;
    padding-left: 3%;
    padding-right: 3%;
    font-size:14px;
  }

  .advantages__image {
    padding-left: 33%;
    width: 41%;
  }


}

@media (max-width: 625px) {
  .header__logo {
    font-size:18px;
  }

  .header__nav {
    margin-left: 32%;
  }

  .nav__item {
    font-size:15px;
  }

  .header__motto {
    font-size:18px;
  }

  .header__link {
    font-size: 14px;
  }

  .main__headline {
    font-size: 26px;
  }

  .student__img {
    margin-top: 15%;
  }

  .student-text__container {
    width: 80%;
  }

  .student__text {
    font-size:16px;
    margin-right: 5%;
  }

  .student__button {
    margin-left: 25%;
    font-size: 12px;
  }

  .advantages__image {
    padding-left: 28%;
    width: 55%;
  }

  .advantages__item {
    font-size:16px;
  }

  .advantages__text {
    font-size:14px;
  }

  .life__wrapper {
    width: 65%;
  }

  .life__headline {
    font-size:18px;
  }

  .life__button {
    margin-left: 36%;
    font-size: 12px;
  }

  .life__img {
    width: 80%;
    margin-left: 15%;
  }

  .emp__img {
    width: 70%;
    margin-left: 20%;
    margin-top: 20%;
  }

  .emp-text__container {
    padding-top: 6%;
    padding-left: 5%;
  }

  .emp__text {
    font-size:16px;
  }

  .emp__button {
    margin-left: 23%;
    padding-left: 3%;
    padding-right: 3%;
    font-size:12px;
  }

  .advantages__image {
    padding-left: 33%;
    width: 41%;
  }

  .form__wrapper {
    width: 50%;
  }

  .form__input {
    font-size: 15px;
  }

  .form__img {
    width: 80%;
    margin-left: 10%;
  }
 }

 @media (max-width: 525px) {

   .header__logo {
     font-size:16px;
   }

   .header__nav {
     margin-left: 32%;
   }

   .nav__item {
     font-size:13px;
   }

   .header__motto {
     font-size:16px;
   }

   .header__link {
     font-size: 12px;
   }

   .main__headline {
     font-size: 22px;
   }

   .student__text {
     font-size:14px;
   }

   .student__button {
     font-size: 9px;
   }

   .emp__text {
     font-size:14px;
   }

   .emp__button {
     font-size:9px;
   }

  .advantages__image {
    padding-left: 28%;
    width: 55%;
  }

  .advantages__item {
    font-size: 14px;
  }

  .life__wrapper {
    width: 90%;
   }

  .life__headline {
    font-size: 13px;
   }

  .life__button {
    font-size: 9px;
   }

   .form__input {
     font-size: 9px;
   }
 }

 @media (max-width: 480px) {
   /*сделать бургер меню */
  .header__nav {
    display: none;
   }

  .student__block {
    display:inline-block;
  }

  .student__img {
    margin: 0;
    padding-left: 15%;
    padding-top: 0;
    width: 70%;
  }

  .student-text__container {
    margin: 0;
    padding-left: 15%;
  }

  .student__button {
    margin-left: 35%;
  }

  .student__advantages {
    padding-top: 5%;
    padding-bottom: 10%;
  }

  .student-advantages__container {
    display: inline-block;
  }

  .advantages__text {
    display:none;
  }

  .advantages__block {
    width: 100%;
    margin-left: 55%;
    margin-top: 10%;
  }

  .life__container {
    display: inline-block;
  }

  .life__headline {
    text-transform: uppercase;
    font-size: 20px;
  }

  .life__button {
    margin-left: 45%;
  }

  .life__img {
    width: 70%;
    margin-top: 25%;
  }

  .emp__block {
    flex-direction: column;
  }

  .emp-img__container {
    order: -1;
  }

  .emp__img {
    width: 70%;
    margin-left: 15%;
  }

  .emp-text__container {
    padding-left: 20%;
  }

  .emp__button {
    margin-left: 30%;
  }

  .emp-advantages__container {
    display:inline-block;
  }

  .emp__advantages {
    padding-bottom: 10%;
  }

  .form__img {
    display: none;
  }

  .form {
    margin-left: 10%;
  }

  .form__wrapper {
    width: 80%;
  }

  .form__text {
    color:#f1a32f;
  }

  .form__container {
    background-color:#45446c;
    padding-top: 10%;
  }

  .form__input {
    margin-left: 35%;
  }




 }
